<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinnuo.apple.healthtesting"> <!-- 权限 -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主页 -->
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <!-- 添加这一条默认设置，能拦截当前页面所有扫描NFC的配置 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 健康测试主页Activity -->
        <activity android:name=".MainActivity">

            <!-- android:alwaysRetainTaskState="true" -->
            <!-- android:launchMode="singleInstance" -->
            <!-- android:screenOrientation="nosensor" -->
            <!-- &gt; -->

            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <!-- 添加这一条默认设置，能拦截当前页面所有扫描NFC的配置 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 健康测试Activity -->
        <activity android:name=".HeightAndWeightActivity" />

        <!-- 其他的测试Activity -->
        <activity android:name=".GeneralPageActivity" />
        <activity
            android:name=".StudentSignActivity"
            android:screenOrientation="portrait">

            <!-- android:screenOrientation=”portrait” -->
        </activity>
        <activity android:name=".RunActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>